@media (max-width: 1100px) {
/* HEADER */
.header {
	padding: 15px 0 28px 0;
}
	.header::before {
		content: "";
		position: absolute;
		border-bottom: 1px solid rgb(221, 221, 221);
		width: 100%;
		padding-bottom: 35px;
	}
	.header__btns {
		display: none;
	}
	.header__logo-btns {
		display: block !important;
	}
	.header__logo-btns a {
		margin-left: 10px;
	}
	.header__wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		/* position: relative; */
	}
	/* .header__wrapper::after {
		content: " ";
		border-bottom: 1px solid rgb(221, 221, 221);
		bottom: -10px;
		width: 100%;
		position: absolute;
	} */
	.header__container {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		justify-content: center;
	}
	.header__nav {
		margin: 0;
	}

/* HERO */
	.hero {
		background-size: 35% 150%;
		background-position-y: -30%;
		padding: 140px 0 100px 0;
	}

/* INFORMATION */
	.infromation__image  {
		width: 550px;
		height: 400px;
	}
	.information__description {
		width: 45%;
	}


/* PARTNERS */
	.partners {
		padding: 70px 0;
	}
	.partners__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 50px;
	}

/* PRODUCT */
	.product {
		background-size: 50% 95%;
		padding: 90px 0;
	}

/* RESULTS */
	.results {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	.results__container {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
		justify-content: center;
	}

/* CARDS */
	.cards__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 80px;
	}
	.cards__block {
		max-width: 250px;
	}

}



@media (max-width: 850px) {
/* HEADER */
	

/* HERO */
	.hero {
		background-size: 35% 130%;
		background-position-x: 90%;
		padding: 60px 0;
	}

/* INFORMATION */
	.infromation__image {
		width: 400px;
	}
	

/* PARTNERS */
	

/* PRODUCT */
	.product {
		background-size: 50% 95%;
		background-position-x: 95%;
	}
	

/* RESULTS */
	

/* CARDS */


/* FOOTER */
	

}	

/* TABLET */
@media (max-width: 690px) {
	.container {
		padding: 0 20px;
	}
	.btn {
		padding: 20px 80px;
	}
	.text {
		max-width: 390px;
	}

/* HEADER */
	.header {
		padding: 15px 0;
	}
	.header__logo-btns a {
		margin-left: 35px;
  }
  

/* HERO */
  .hero {
	padding: 65px 0;
	background-position-y: -35%;
  }
  .hero__title {
	max-width: 390px;
	font-size: 50px;
  }

 /* RESULTS */ 
	.results {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.results__container {
		flex-wrap: nowrap;
		column-gap: 30px;
	}
	.results__block {
		flex-direction: column;
		max-width: 210px;
	}

/* INFORMATION */
	.information {
		padding-bottom: 60px;
	}
	.information__container {
		display: flex;
		align-items: start;	
	}
	.infromation__image {
		max-width: 330px;
		max-height: 256px;
	}
	.information__desc-title {
		margin-bottom: 20px;
		font-size: 30px;
	}

/* CARDS */
	.cards__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 30px;
		row-gap: 60px;
	}
	.block__img {
		width: 300px;
		height: 180px;
	}
	.cards__block {
		max-width: 300px;
	}

/* PARTNERS */
	.partners {
		padding: 60px 0;
	}
	.partners__container {
		flex-wrap: nowrap;
		gap: 12px;
	}
	.partners__img {
		max-width: 150px;
		max-height: 80px;
	}

/* PRODUCT */
	.product {
		padding: 60px 0;
	}
	.product__title {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.product__text {
		max-width: 300px;
	}
}

@media (max-width: 650px) {
/* RESULTS */
	.results__container {
		flex-wrap: wrap;
	}
	



/* INFORMATION */
	.information__container {
		flex-direction: column;
	}
	.information__description {
		width: 100%;
	}
	.information__desc-text {
		max-width: max-content;
	}
		


/* CARDS */
	.cards__container {
		justify-content: center;
	}

/* PRTNERS */
	.partners__container {
		flex-wrap: wrap;
	}
}


@media (max-width: 510px) {
	.text {
		font-size: 16px;
	}

	.btn {
		padding: 20px 60px;
	}





/* HEADER */
	.nav__list {
		column-gap: 30px;
	}


/* HERO */
	.hero {
		background-position-x: 98%;
	}
	.hero__title {
		font-size: 38px;
		max-width: 286px;
		margin-bottom: 20px;
	}
	.hero__text {
		max-width: 286px;
		margin-bottom: 20px;
	}


/* RESULTS */
	.results__container {
		flex-wrap: nowrap;
		align-items: baseline;
	}
	.results__info-block {
		margin: 0;
	}

	.results__block {
		max-width: 130px;
	}

	.results__block-img {
		max-width: 150px;
		max-height: 111px;
	}


/* INFORMATION */
	.information__desc-title {
		font-size: 24px;
		margin-bottom: 14px;
	}

/* CARDS */
	.cards {
		padding: 60px 0;
	}
	.cards__container {
		row-gap: 65px;
	}

	.cards__block {
		max-width: 210px;
	}
	.block__img {
		max-width: 210px;
		max-height: 150px;
	}
	.block__title {
		font-size: 24px;
		margin-top: 10px;
	}
	.block__counter {
		margin: 4px 0 8px 0;
	}


/* PARTNERS */
	.partners__container {
		gap: 30px;
	}
	
	.partners__img {
		max-width: 210px;
		max-height: 127px;
	}


/* PRODUCT */
	.product {
		background-image: url('../img/bookmedia510.png');
		background-size: 90% 50%;
		background-position-x: 70%;
		background-position-y: 15%;
		padding: 350px 0 60px 0;
	}


/* FOOTER */
	.footer__nav-link-img {
		width: 18px;
		height: 18px;
	}
}


@media (max-width: 500px) {
/* HERO */
	.hero {
		background-image: none;
	}
	.hero__text {
		max-width: 100%;
	}


/* RESULTS */
	.results__container {
		flex-wrap: wrap;
	}
	.results__block {
		display: flex;
		flex-direction: row;
		max-width: 100%;
	}

/* CARDS */
	.cards__block {
		max-width: 100%;
	}
	.block__img {
		max-width: 100%;
	}
	.block__text {
		max-width: 300px;
	}

/* PARTNERS */
	.partners {
		padding: 30px 0;
	}
	.partners__container {
		flex-wrap: wrap;
		row-gap: 10px;
	}
	.partners__img {
		max-width: 100%;
	}


/* PRODUCT */
	.product__text {
		max-width: 100%;
	}



/* FOOTER */
	.footer__top-container {
		position: relative;
		flex-direction: column;
		row-gap: 40px;
	}
	.footer__top-container::after {
		content: " ";
		position: absolute;
		border-bottom: 1px solid rgb(221, 221, 221);
		width: 100%;
		bottom: 50%;
	}
	.footer__nav-link-img {
		width: 24px;
		height: 24px;
	}
	.footer__nav-list {
		gap: 50px;
	}
}

